@page "/doctor/Edit/{Id}"
@using HospitalSystem.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Edit Person</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="FirstName"> Name *</label>
            <input form="FirstName" class="form-control" @bind="@doc.Name" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="LastName"> Specilisation *</label>
            <input form="LastName" class="form-control" @bind="@doc.Specialisation" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Email"> Email *</label>
            <input form="Email" class="form-control" @bind="@doc.Email" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="MobileNo"> Certificate/Degree*</label>
            <input form="mobileNo" class="form-control" @bind="@doc.CertificateDegree" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int Id { get; set; }
    Doctor doc = new Doctor();
    protected override async Task OnInitializedAsync()
    {
        doc = await Http.GetFromJsonAsync<Doctor>("api/doctor/" + Id);
    }
    protected async Task Save()
    {
        var response = await Http.PutAsJsonAsync("api/doctor/" + Id, @doc);
        bool docResponse = await response.Content.ReadFromJsonAsync<bool>();
        if (docResponse)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Updated Successfully!");
            NavigationManager.NavigateTo("/doctor");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/doctor");
    }
}